pkgbase = bb-pywalfox-host
	pkgdesc = Native messaging host for syncing pywal colors with Pywalfox (C version)
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/anthonyhab/bb-pywalfox-host
	arch = x86_64
	license = MIT
	makedepends = gcc
	makedepends = json-c
	depends = glibc
	depends = json-c
	options = !strip
	source = bb-pywalfox-host-0.2.1.tar.gz::https://github.com/anthonyhab/bb-pywalfox-host/archive/refs/tags/v0.2.1.tar.gz
	sha256sums = d770d070f0da373d571190beb552c139ecaedd781858bc1c2c601488b87431ae

pkgname = bb-pywalfox-host
